<div class="container">
  <!-- Title -->
  <h2 class="text-center my-4 fw-bold">{{ title }}</h2>

  <!-- Search bar -->
  <div class="container w-50">
    <div class="input-group py-5">
      <input
        type="search"
        class="form-control rounded-end rounded-pill"
        placeholder="Search Gallery"
        aria-label="Search Gallery"
        aria-describedby="gallery_search_btn"
        [(ngModel)]="searchTerm"
        (keyup.enter)="searchGallery()"
      />
      <button
        class="btn border border-start-0 bg-white rounded-start rounded-pill"
        type="button"
        id="gallery_search_btn"
        (click)="searchGallery()"
      >
        <img src="assets/homepage/search.png" alt="globe" width="15" />
      </button>
    </div>
  </div>

  <!-- Categories -->
  <div class="d-flex justify-content-center flex-wrap">
    <div *ngFor="let gallery of galleries" class="p-2 mx-4">
      <button
        #image
        [ngClass]="{
          'border-3 btn-underline-orange-red ': selectedCategory == gallery,
          btn: selectedCategory != gallery
        }"
        class="fw-bold"
        (click)="setActive(gallery)"
      >
        <b>{{ gallery }}</b>
      </button>
    </div>
  </div>
  <hr class="divider border-orange-red" />
</div>

<!-- Masonry Columns -->
<div class="container my-4">
  <ngx-masonry
    [ordered]="true"
    [options]="masonryOptions"
    [ngStyle]="{ width: '100%' }"
    *ngIf="images[0]?.imagePath && images[images.length - 1]?.imagePath"
  >
    <div
      ngxMasonryItem
      class="masonry-item my-2 responsive-columns"
      *ngFor="let image of display; let i = index"
    >
      <div class="images">
        <img
          [src]="image.imagePath"
          width="100%"
          class="hovered-img"
          (mouseleave)="onLeave()"
          (mouseover)="onEnter(i)"
          [ngStyle]="{ opacity: currentImageIndex == i ? '0.4' : '1' }"
        />
        <button
          (focus)="onEnter(i)"
          class="hovered-button"
          (mouseover)="onEnter(i)"
          [ngStyle]="{ opacity: currentImageIndex == i ? '1.0' : '0.0' }"
          (blur)="onLeave()"
          (click)="onLearnMore(galleryModal, image)"
        >
          {{ imageButton }}
        </button>
      </div>
    </div>
  </ngx-masonry>
</div>

<!-- Pagination -->
<div
  *ngIf="searchImages.length > itemsPerPage"
  class="container d-flex justify-content-center my-4"
>
  <pagination
    [boundaryLinks]="showBoundaryLinks"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="searchImages.length"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  ></pagination>
</div>

<!--No Record Indicator-->
<div
  class="container text-center my-4"
  *ngIf="images[0]?.imagePath && searchImages.length == 0"
>
  <span class="display-1">No Records Found</span>
</div>

<!--Modal-->
<ng-template #galleryModal>
  <app-overlay
    [status]="status"
    [image]="this.selectedImage"
    [otherImage]="this.otherImage"
    (close)="onClose($event)"
    (submit)="onSubmit($event, galleryModal)"
    (remove)="onRemove($event, galleryModal)"
    (update)="onUpdate($event)"
    (delete)="onDelete($event)"
    (cancel)="onCancel($event)"
  ></app-overlay>
</ng-template>
