<div *ngIf="!this.page">
  <h2 class="text-center pb-5 pt-5 mt-5">Request Form</h2>
  <h3 class="text-center pt-3 pb-5">Upload</h3>
</div>

<div *ngIf="this.page">
  <h3 class="text-center pb-5 pt-5 mt-5">Detailed/Edit Contribution</h3>
</div>

<div class="container-fluid">
  <div class="row">
    <app-form [form]="form" (change)="onFormChange($event)"></app-form>
  </div>

  <div class="row">
    <div class="col-md-4 ms-5 ps-5 photo">
      <!-- photo upload section -->
      <app-upload-image></app-upload-image>
    </div>

    <!-- col for contents input box -->
    <div class="col-md-6">
      <div class="my-4">
        <h4>Contents</h4>
        <div [formGroup]="form2" class="border p-2 shadow rounded">
          <label for="add_content" class="form-label h4">Add Content</label>
          <textarea
            class="form-control"
            id="add_content"
            rows="5"
            placeholder="Add content/description here..."
            formControlName="content"
          ></textarea>
        </div>
      </div>
      <!-- event detail and date -->
      <div class="row">
        <div class="col">
          <app-array [array]="eventArray" title="Event" type="event"></app-array>
        </div>
      </div>
      <!-- memoir section -->
      <br />
      <h4>Add Memoir, book, or other information</h4>
      <!-- allows uses to add/remove input boxes -->
      <section
        class="my-4"
        *ngFor="
          let memoir of memoirControls;
          let i = index;
          last as last;
          first as first
        "
      >
        <div [formGroup]="memoir" class="border p-2 shadow my-4 rounded">
          <!-- memoir title -->
          <label [for]="'memoir_title' + i">Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Add title here..."
            [id]="'memoir_title' + i"
            formControlName="memoirTitle"
          />
          <br />
          <!-- memoir author -->
          <label [for]="'memoir_author' + i">Author</label>
          <input
            type="text"
            class="form-control"
            placeholder="Add author here.."
            [id]="'memoir_author' + i"
            aria-describedby="basic-addon1"
            formControlName="memoirAuthor"
          />
          <br />
          <!-- memoir content -->
          <label [for]="'memoir_content' + i">Content/Discription</label>
          <textarea
            type="text"
            class="form-control"
            [id]="'memoir_content' + i"
            placeholder="Add memoir here..."
            rows="5"
            formControlName="memoirContent"
          ></textarea>
        </div>

        <br />
        <!-- removes memoir -->
        <button
          type="button"
          tooltip="Remove this Memoir"
          placement="auto"
          *ngIf="!first || !last"
          class="btn btn-lg btn-outline-danger rounded-pill bg-white text-danger"
          (click)="removeMemoir(i)"
        >
          Remove
          <img src="assets/upload/icons-remove.png" class="mx-2" width="30" />
        </button>
        <button
          *ngIf="last"
          type="button"
          (click)="addMemoir()"
          tooltip="Add another Memoir"
          placement="auto"
          class="btn btn-lg btn-outline-dark rounded-pill bg-white text-dark mx-3"
        >
          Add Memoir
          <img src="assets/upload/icons-plus.svg" class="mx-2" width="30" />
        </button>
      </section>
    </div>
  </div>
  <br /><br />
  <!-- submit and clear buttons -->
  <div class="d-flex col-11 mx-auto mb-5" *ngIf="this.page != 'contribution'">
    <button
      type="button"
      class="btn btn-lg btn-outline-dark rounded-pill ms-auto px-4"
      (click)="clear2()"
    >
      Clear
    </button>
    <button
      type="button"
      class="btn btn-lg btn-outline-dark me-3 rounded-pill mx-2 px-4"
      [disabled]="form.invalid || form2.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>
